In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/cleaned_transactions.csv")
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df.head()

,TransactionID,CustomerID,AccountID,AccountType,TransactionType,Product,Firm,Region,Manager,TransactionDate,TransactionAmount,AccountBalance,RiskScore,CreditRating,TenureMonths,Year,Month,YearMonth
0,33,CUST6549,ACC12334,credit,withdrawal,Savings Account,Firm C,Central,Manager 1,2023-10-21,87480.05448,74008.43310,0.729101,319,200,2023,10,2023-10
1,177,CUST2942,ACC52650,credit,withdrawal,Home Loan,Firm A,East,Manager 3,2023-06-20,20315.74505,22715.83590,0.472424,692,47,2023,6,2023-06
2,178,CUST6776,ACC45101,current,deposit,Personal Loan,Firm C,South,Manager 3,2023-01-02,10484.57165,42706.09210,0.648784,543,109,2023,1,2023-01
3,173,CUST2539,ACC88252,current,withdrawal,Mutual Fund,Firm A,Central,Manager 2,2023-07-25,45122.27373,114176.56870,0.734832,430,103,2023,7,2023-07
4,67,CUST2626,ACC21878,savings,withdrawal,Home Loan,Firm C,Central,Manager 4,2023-07-25,42360.79878,17863.02644,0.289304,468,234,2023,7,2023-07

In [3]:
monthly_summary = (
    df
    .groupby(['YearMonth', 'TransactionType'])['TransactionAmount']
    .sum()
    .unstack(fill_value=0)
    .reset_index()
)

In [4]:
monthly_summary['Net_Transaction'] = (
    monthly_summary.get('deposit', 0)
    - monthly_summary.get('withdrawal', 0)
    - monthly_summary.get('payment', 0)
    - monthly_summary.get('transfer', 0)
)

monthly_summary.head()

TransactionType,YearMonth,deposit,payment,transfer,withdrawal,Net_Transaction
0,2023-01,738270.104450,767715.190774,503614.959706,1.047046e+06,-1.580106e+06
1,2023-02,648261.004850,354836.661930,286550.139330,7.924666e+05,-7.855924e+05
2,2023-03,604002.422140,865951.649660,545314.714480,6.165271e+05,-1.423791e+06
3,2023-04,439321.687687,590121.520674,301770.393640,4.464024e+05,-8.989726e+05
4,2023-05,425589.871840,906411.880360,731136.024250,5.661674e+05,-1.778125e+06

In [5]:
yearly_summary = (
    df
    .groupby(['Year', 'TransactionType'])['TransactionAmount']
    .sum()
    .unstack(fill_value=0)
    .reset_index()
)

In [6]:
yearly_summary['Net_Transaction'] = (
    yearly_summary.get('deposit', 0)
    - yearly_summary.get('withdrawal', 0)
    - yearly_summary.get('payment', 0)
    - yearly_summary.get('transfer', 0)
)

yearly_summary.head()

TransactionType,Year,deposit,payment,transfer,withdrawal,Net_Transaction
0,2023,7.251369e+06,7.247105e+06,5.837722e+06,8.013988e+06,-1.384745e+07
1,2024,3.229767e+06,3.335169e+06,3.517760e+06,2.827657e+06,-6.450819e+06

In [ ]:
# with pd.ExcelWriter(
#     "../excel_outputs/Financial_Risk_Analysis_Task2_FINAL.xlsx",
#     engine="openpyxl"
# ) as writer:
#
#     monthly_summary.to_excel(
#         writer,
#         sheet_name="Monthly_Summary",
#         index=False
#     )
#
#     yearly_summary.to_excel(
#         writer,
#         sheet_name="Yearly_Summary",
#         index=False
#     )

## Insights
- Monthly transaction analysis revealed variations in inflows and outflows across time.
- Yearly summaries highlighted overall financial trends and net transaction behavior.
- Net transaction values help identify periods of financial stability and stress.